# XXX: Use orchestrator or DNS to get my IP
S11_SGW_IP=$( netstat -ie | grep '1.1.1.' | awk '{print $2}' | cut -d: -f2 )

S11_MME_IP=1.1.1.250
S1U_SGW_IP=2.2.2.2

IP_POOL_IP=16.0.0.0
IP_POOL_MASK=255.0.0.0
APN=apn1

CORES="--lcores (0-2)@(0)"
MEMORY="-n4 --no-huge -m 1024 --file-prefix cp"
DEVICES="--no-pci"

EAL_ARGS="${CORES} ${MEMORY} ${DEVICES}"

MGMT_INFO="-s ${S11_SGW_IP} -m ${S11_MME_IP} -w ${S1U_SGW_IP}"
APN_INFO="-i ${IP_POOL_IP} -p ${IP_POOL_MASK} -a ${APN}"

APP_ARGS="${MGMT_INFO} ${APN_INFO}"

