; Copyright (c) 2017 Intel Corporation
;
; Licensed under the Apache License, Version 2.0 (the "License");
; you may not use this file except in compliance with the License.
; You may obtain a copy of the License at
;
;      http://www.apache.org/licenses/LICENSE-2.0
;
; Unless required by applicable law or agreed to in writing, software
; distributed under the License is distributed on an "AS IS" BASIS,
; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
; See the License for the specific language governing permissions and
; limitations under the License.

; static arp entries are per port; syntax:
; ipv4 [ipv4] = ethernet mac address

[sgi]
;1.2.3.4                 = 00:11:22:33:44:55
;10.20.30.0 10.20.30.255 = aa:bb:cc:dd:ee:ff
13.1.1.110 13.1.1.135    = 68:05:CA:30:E5:B9


[s1u]
;100.2.3.4                 = ff:ff:ff:ff:ff:ff
;100.20.30.0 100.20.30.255 = 00:00:00:00:00:00
11.1.1.101 11.1.1.180 = 68:05:CA:30:E5:B8


